body {
  background-color: #F7EEDD;
  color: #000000
}

.sidebar-wrapper,
.sidebar-footer-wrapper,
.d-header {
  background-color: #F7EEDD
}

.sidebar-footer-wrapper .sidebar-footer-container:before {
  background: transparent
}

.navbar {
  background-color: #FF7F50
}

.navbar .nav-link {
  color: #F7EEDD
}

.navbar .nav-link:hover {
  color: #ffd299
}

.main-content {
  background-color: #ede4d3
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FF7F50
}

.btn-primary {
  background-color: #dd6236;
  border-color: #dd6236;
  color: #F7EEDD
}

.btn-primary:hover {
  background-color: #8f1e00;
  border-color: #8f1e00
}

a {
  color: #8B4513
}

a:hover {
  color: #dd6236
}

.card {
  background-color: #F7EEDD;
  border-color: #c4bcab
}

table {
  background-color: #F7EEDD
}

table th {
  background-color: #dd6236;
  color: #F7EEDD
}

table tr:nth-child(even) {
  background-color: #ede4d3
}

input,
select,
textarea {
  background-color: #F7EEDD;
  border-color: #c4bcab;
  color: #2c2c2c
}

footer {
  background-color: #FF7F50;
  color: #F7EEDD
}

.title {
  color: #8f1e00 !important
}

.topic-excerpt {
  color: #FF7F50 !important
}