* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  padding: 10px;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  background-color: #2C3E50;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10px;

  .item {
    margin-bottom: 1em;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    &.active {
      background: #ededed;

      svg {
        color: #2C3E50;
      }
    }
  }
}

.page-title {
  padding: 20px 20px 0;
  font-size: 20px;
  font-weight: 500;
  color: #2C3E50;
}

.flex {
  position: relative;
  padding-left: 370px;

  .aside {
    width: 300px;
    background: #eee;
    height: 100vh;
    padding-bottom: 66px;
    overflow-y: auto;
    position: fixed;
    left: 50px;
    top: 0;

    ul {
      list-style: none;
      padding: 20px 20px 0;
      width: 100%;

      li {
        padding: 8px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 6px;
        transition: all 0.2s linear;
        position: relative;
        color: #2C3E50;
        font-size: 15px;

        em {
          font-style: inherit;
          position: absolute;
          right: 10px;
          color: #666;
        }

        &:hover {
          background: #e5e4e4;
        }

        &.selected {
          background: #fff;
        }
      }
    }

    .btn {
      position: fixed;
      bottom: 20px;
    }
  }

  .container {
    position: relative;
    overflow-y: auto;

    a {
      color: #0088cc;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}