name: Check and Create Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  check-release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '14'  # Use the Node.js version you need

    - name: Install dependencies
      run: npm install

    - name: Get package.json version
      id: get_version
      run: echo "PACKAGE_VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_ENV

    - name: Get latest release version
      id: get_release
      run: |
        curl -s https://api.github.com/repos/${{ github.repository }}/releases/latest | jq -r '.tag_name' > latest_release.txt

    - name: Compare versions
      id: compare_versions
      run: |
        if [ "$(cat latest_release.txt)" != "$PACKAGE_VERSION" ]; then
          echo "Version mismatch"
          echo "create_release=true" >> $GITHUB_ENV
        else
          echo "Version matches"
          echo "create_release=false" >> $GITHUB_ENV
        fi

    - name: Create new release
      if: env.create_release == 'true'
      run: |
        CURRENT_DATE=$(TZ='Asia/Shanghai' date +'%Y-%m-%d  %H:%M')
        sed -i "s/\$PACKAGE_VERSION/$PACKAGE_VERSION/g" CHANGELOG.md
        sed -i "s/\$CURRENT_DATE/$CURRENT_DATE/g" CHANGELOG.md
        gh release create "$PACKAGE_VERSION" linuxdo-scripts.user.js \
        -t "$PACKAGE_VERSION" \
        -n "New release created with version $PACKAGE_VERSION.
        
        $(cat CHANGELOG.md)
        
        [查看更新日志](https://github.com/dlzmoe/linuxdo-scripts/blob/main/version-log.md)，使用版本 $PACKAGE_VERSION 创建的新版本，此版本包含更新的 `linuxdo-scripts.js` 文件。
        
        [点击此链接将会自动触发油猴脚本安装程序](https://raw.githubusercontent.com/dlzmoe/linuxdo-scripts/main/linuxdo-scripts.user.js)

        发布于：$CURRENT_DATE"
      env:
        GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
